<form action = '/bookmarks' method = 'get'>
  <input type = 'submit' value = 'View bookmarks'>
</form>

<form action = '/add' method = 'get'>
  <input type = 'submit' value = 'Add bookmark'>
</form>

<form action = '/delete' method = 'get'>
  <input type = 'submit' value = 'Delete bookmark'>
</form>
